# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environnement virtuel
env/
venv/
.venv/
.env

# Données locales
data/
*.csv
credentials/service_account.json

# Config sensible
config/config.py

# ChromeDriver (si jamais)
chromedriver*
.ipynb_checkpoints/